.project-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 238, 244);
    padding: 20px;
    border-radius: 5px;
    border: 3px palevioletred solid;
    height: 150px;
    gap: 10px;

    .project-id {
        color: #555;
    }

    .project-visit {
        margin-top: auto;
        width: 200px;
        background-color: palevioletred;
        color: #fefefe;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;
    }
}